doctype html
html(lang=config.default_language, class='no-js')
  head
    <!-- git commit id: !{config.git_commit_id} -->
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')

    //- Favicon code start
    link(rel='apple-touch-icon', sizes='57x57', href=staticFile('icons/apple-touch-icon-57x57.png?v2=7kk2wvqoYw'))
    link(rel='apple-touch-icon', sizes='60x60', href=staticFile('icons/apple-touch-icon-60x60.png?v2=7kk2wvqoYw'))
    link(rel='apple-touch-icon', sizes='72x72', href=staticFile('icons/apple-touch-icon-72x72.png?v2=7kk2wvqoYw'))
    link(rel='apple-touch-icon', sizes='76x76', href=staticFile('icons/apple-touch-icon-76x76.png?v2=7kk2wvqoYw'))
    link(rel='apple-touch-icon', sizes='114x114', href=staticFile('icons/apple-touch-icon-114x114.png?v2=7kk2wvqoYw'))
    link(rel='apple-touch-icon', sizes='120x120', href=staticFile('icons/apple-touch-icon-120x120.png?v2=7kk2wvqoYw'))
    link(rel='apple-touch-icon', sizes='144x144', href=staticFile('icons/apple-touch-icon-144x144.png?v2=7kk2wvqoYw'))
    link(rel='apple-touch-icon', sizes='152x152', href=staticFile('icons/apple-touch-icon-152x152.png?v2=7kk2wvqoYw'))
    link(rel='apple-touch-icon', sizes='180x180', href=staticFile('icons/apple-touch-icon-180x180.png?v2=7kk2wvqoYw'))
    link(rel='icon', type='image/png', href=staticFile('icons/favicon-32x32.png?v2=7kk2wvqoYw'), sizes='32x32')
    link(rel='icon', type='image/png', href=staticFile('icons/android-chrome-192x192.png?v2=7kk2wvqoYw'), sizes='192x192')
    link(rel='icon', type='image/png', href=staticFile('icons/favicon-96x96.png?v2=7kk2wvqoYw'), sizes='96x96')
    link(rel='icon', type='image/png', href=staticFile('icons/favicon-16x16.png?v2=7kk2wvqoYw'), sizes='16x16')
    link(rel='manifest', href=staticFile('icons/manifest.json?v2=7kk2wvqoYw'))
    link(rel='mask-icon', href=staticFile('icons/safari-pinned-tab.svg?v2=7kk2wvqoYw'), color='#1964e6')
    link(rel='shortcut icon', href=staticFile('icons/favicon.ico?v2=7kk2wvqoYw'))
    meta(name='msapplication-TileColor', content='#2d89ef')
    meta(name='msapplication-TileImage', content='/mstile-144x144.png?v2=7kk2wvqoYw')
    meta(name='theme-color', content='#ffffff')
    //- Favicon code end

    //- Google fonts Lato
    link(href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic', rel='stylesheet', type='text/css')
    //- Custom icons
    link(href!=staticFile('fonts/service-map-icons.css'), rel="stylesheet")
    link(rel='stylesheet', href!=staticFile('vendor/leaflet.css'))
    link(rel='stylesheet', href!=staticFile('vendor/MarkerCluster.css'))
    link(rel='stylesheet', href!=staticFile('vendor/bootstrap-datetimepicker.min.css'))
    link(rel='stylesheet', href!=staticFile('vendor/bootstrap-tour.css'))
    <!--[if lte IE 9]>
    link(href!=staticFile('css/servicemap_ie9.css'), rel='stylesheet')
    <![endif]-->
    <!--[if lte IE 8]>
    link(href!=staticFile('css/servicemap_ie.css'), rel='stylesheet')
    <![endif]-->
    link(href!=staticFile('css/colors.css'), rel='stylesheet')
    link(href!=staticFile('css/servicemap.css'), rel='stylesheet')
    if pageMeta.title
      meta(property='og:title', content=pageMeta.title)
      title(aria-live="polite")
        = pageMeta.title + ' | ' + siteName.fi
    else
      title(aria-live="polite")
        = siteName.fi
    if pageMeta.picture
      meta(property='og:image', content=pageMeta.picture)
    if pageMeta.url
      meta(property='og:url', content=pageMeta.url)
    block head

    <!--[if lte IE 8]>
    script(type='text/javascript', src!=staticFile('vendor/respond.min.js'))
    script(type='text/javascript', src!=staticFile('vendor/polyfills/array.generics.min.js'))
    script(type='text/javascript', src!=staticFile('vendor/polyfills/console-shim.min.js'))
    script(type='text/javascript', src!=staticFile('vendor/polyfills/excanvas.compiled.js'))
    <![endif]-->

    script(type='text/javascript').
      window.appSettings = !{configJson};
      L_PREFER_CANVAS = true;
      L_DISABLE_3D = false;

  body

    block content

    if config.livereload
        script(src="//localhost:35729/livereload.js")

    if config.enable_statistics
      script.
        var _paq = _paq || [];
        var siteId;
        if (appSettings.is_embedded == true) {
            siteId = 1;
        }
        else {
            siteId = 9;
        }
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.hel.ninja/pwk/";
            _paq.push(['setTrackerUrl', u+'pw.php']);
            _paq.push(['setSiteId', siteId]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
            g.defer=true; g.async=true; g.src=u+'pw.js'; s.parentNode.insertBefore(g,s);
        })();

    //- This script fixes the media query issues in Internet Explorer 10
    //- in Windows 8 and Windows Phone 8.
    //- See http://getbootstrap.com/getting-started/#support-ie10-width for more details.
    script.
      if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
        var msViewportStyle = document.createElement("style");
        msViewportStyle.appendChild(
          document.createTextNode(
            "@-ms-viewport{width:auto!important}"
          )
        );
        document.getElementsByTagName("head")[0].
          appendChild(msViewportStyle);
      }
