doctype html
html.no-js
  head
    <!-- git commit id: !{commit_id} -->
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Palvelukartta-demo
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
    //- Google fonts Lato
    link(href='http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic', rel='stylesheet', type='text/css')
    //- Custom icons
    link(href!=static_file('fonts/service-map-icons.css'), rel="stylesheet")
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css')
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
    link(rel='stylesheet', href!=static_file('vendor/MarkerCluster.css'))
    link(rel='stylesheet', href!=static_file('vendor/bootstrap-datetimepicker.min.css'))
    <!--[if lte IE 9]>
    link(href!=static_file('css/servicemap_ie9.css'), rel='stylesheet')
    <![endif]-->
    <!--[if lte IE 8]>
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7/leaflet.ie.css')
    link(href!=static_file('css/servicemap_ie.css'), rel='stylesheet')
    <![endif]-->
    link(href!=static_file('css/colors.css'), rel='stylesheet')
    link(href!=static_file('css/servicemap.css'), rel='stylesheet')
    block head

    <!--[if lte IE 8]>
    script(type='text/javascript', src!=static_file('vendor/polyfills/array.generics.min.js'))
    script(type='text/javascript', src!=static_file('vendor/polyfills/console-shim.min.js'))
    script(type='text/javascript', src!=static_file('vendor/polyfills/excanvas.compiled.js'))
    <![endif]-->

    script(type='text/javascript').
      window.app_settings = !{config_json};

  body.landing
    block content
    if config.livereload
        script(src="//localhost:35729/livereload.js")

  script.
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http") + "://83.136.249.107/piwik/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
        g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
