mixin render_connection(conn)
  if t_attr(conn.www_url)
    a.external-link(href="#{t_attr(conn.www_url)}", target="_blank")= t_attr(conn.name) + ' '
      span.icon-icon-outbound-link
  else
    = t_attr(conn.name)
    if conn.phone
      = ", "
      span(itemprop="telephone")
        a(href="tel:#{phone_i18n(conn.phone)}")= conn.phone

unless embedded_mode
  if back_to
    a.back-button.vertically-aligned(href="#", role="button", tabindex="0")
      span.icon-icon-back-bold
      span
        = back_to
.content
  if picture_url
    img.details-image(src="#{picture_url}", alt="#{t('sidebar.picture_of')} #{name}")
  .section.main-info
    .header-row
      - root_id = root_services.length ? root_services[0] : 0
      div(class="color-ball service-background-color-#{root_id}")
      if embedded_mode
        span.icon-icon-close
      h2= name
    .departments
      = provider
      if provider && t_attr(department.name)
        | : &nbsp;
      = t_attr(department.name)
    .row
      if !opening_hours
        - var address_cols = 12
      else
        - var address_cols = 6
      div(class="col-md-#{address_cols}")
        address
          if street_address
            = street_address
            br
          if address_zip
            = address_zip
          if municipality
            if address_zip
              = ' '
            = t_attr(municipality.name)

      if opening_hours
        div(class="col-md-6")
          if opening_hours
            strong
              = t('sidebar.hours')
            br
            = opening_hours

    if phone || t_attr(www_url)
      .phone-web.row
        if phone
          .col-md-6
            span(itemprop="telephone")
              a.external-link(href="tel:#{phone_i18n(phone)}")= phone
        if t_attr(www_url)
          .col-md-6
            a.external-link(href="#{t_attr(www_url)}", target="_blank")= t('sidebar.website') + ' '
              span.icon-icon-outbound-link

    if highlights
      .highlights.row
        ul.col-md-12.list-unstyled
          - each conn in highlights
            li
              +render_connection(conn)

    if description
      .description.row
        .col-md-12!= description

  .route-navigation.section

  //
    .section
      a.collapser.collapsed(data-toggle="collapse", data-parent="#details-view-container", href="#accessibility-details")
        h3
          span.icon-icon-stroller &nbsp;
          = t('sidebar.access.some_problems')
      #accessibility-details.section-content.collapse
        ul
          li The route to the entrance has more than two consecutive steps but no ramp.
          li The entrance has more than two consecutive steps but no ramp.
          li There is too little room for a wheelchair in front of the entrance.


  .section.events-section
    a.collapser.collapsed(data-toggle="collapse", data-parent="#details-view-container", href="#events-details")
      h3
        span.icon-icon-events &nbsp;
        = t('sidebar.events')
      span.short-text
    #events-details.section-content.collapse
      .event-list
      a.show-more-events(href="#")
        span= t('sidebar.show_more_events')


  if links && links.length
    .section
      a.collapser.collapsed(data-toggle="collapse", data-parent="#details-view-container", href="#web-services-details")
        h3
          span.icon-icon-web-services &nbsp;
          = t('sidebar.web_services')
        span.short-text= t('sidebar.service_count', {count: links.length})
      #web-services-details.section-content.collapse
        ul
          - each conn in links
            li
              +render_connection(conn)

  //
    .section
      a.collapser.collapsed(data-toggle="collapse", data-parent="#details-view-container", href="#feedback-details")
        h3
          span.icon-icon-events &nbsp;
          = t('sidebar.feedback')
        span.short-text 5 messages, latest today
      #feedback-details.section-content.collapse.
        Lorem ipsum dolor sit amet, eros honestatis ullamcorper ut vel, eum cu
        purto decore, mea te errem regione. Mei cu utamur tacimates consetetur,
        paulo soleat maiorum vim ne. Ea vim liber euripidis voluptatibus, eam
        cu etiam sapientem imperdiet. Quo sint pertinacia conclusionemque ut.
        Ea pro autem appellantur, usu ne illum suscipit. Ex mei detracto
        oportere temporibus.
