mixin render_connection(conn)
  if t_attr(conn.www_url)
    a.external-link(href="#{t_attr(conn.www_url)}", target="_blank")= t_attr(conn.name) + ' '
      span.icon-icon-outbound-link
  else
    = t_attr(conn.name)
    if conn.phone
      = ", "
      span(itemprop="telephone")
        a(href="tel:#{phone_i18n(conn.phone)}")= conn.phone

unless embedded_mode
  if back_to
    a.back-button.vertically-aligned(href="#", role="button", tabindex="0")
      span.icon-icon-back-bold
      span
        = back_to
.content
  if picture_url
    img.details-image(src="#{picture_url}", alt="#{t('sidebar.picture_of')} #{name}")

  .section.main-info
    a.collapser(data-toggle="collapse", data-parent="#event-view-container", href="#main-info-details")
      - root_id = root_services.length ? root_services[0] : 0
      canvas#details-marker-canvas(width="30", height="30")
      if embedded_mode
        span.icon-icon-close
      h2
        span= name

    #main-info-details.section-content.collapse.in
      .departments
        = provider
        if provider && t_attr(department.name)
          | : &nbsp;
        = t_attr(department.name)

      .address
        address
          if street_address
            = street_address
          if address_zip
            |, &nbsp;
            = address_zip
          if municipality
            if address_zip
              = ' '
            = t_attr(municipality.name)

      if phone || t_attr(www_url)
        .contact-info
          if phone
            span(itemprop="telephone")
              a.external-link(href="tel:#{phone_i18n(phone)}")= phone
          if phone && t_attr(www_url)
            | &nbsp; | &nbsp;
          if t_attr(www_url)
            a.external-link(href="#{t_attr(www_url)}", target="_blank")= t('sidebar.further_info') + ' '
              span.icon-icon-outbound-link

      if highlights
        .highlights
          ul.list-unstyled
            - each conn in highlights
              li
                +render_connection(conn)

      if description
        .description
          != description

      if opening_hours
        div
          strong
            = t('sidebar.hours')
          br
          = opening_hours

  .route-navigation.section

  .section.accessibility-section
    a.collapser.collapsed(data-toggle="collapse", data-parent="#details-view-container", href="#accessibility-details", class="#{accessibility.header_classes}")
      h3
        span.icon-icon-wheelchair &nbsp;
        = t('accessibility.accessibility')
      span.short-text= accessibility.short_text
    #accessibility-details.section-content.collapse

      if !accessibility.has_data
        .no-data-text This service point has not provided accessibility data.

      if accessibility.shortcomings.length
        ul.shortcomings
          each shortcoming in accessibility.shortcomings
            li= t_attr(shortcoming)

      if accessibility.details.length
        a.collapser.collapsed.sub-collapser(data-toggle="collapse", data-parent="#accessibility-details", href="#more-accessibility-details")
          h4
            = t('accessibility.accessibility_details')
        #more-accessibility-details.collapse
          ul
            each detail in accessibility.details
              li= detail

      if accessibility.feedback.length
        a.collapser.collapsed.sub-collapser(data-toggle="collapse", data-parent="#accessibility-details", href="#accessibility-feedback")
          h4
            span.icon-icon-feedback
            = t('accessibility.feedback_on_accessibility')
        #accessibility-feedback.collapse
          each piece, index in accessibility.feedback
            a.collapser.collapsed.sub-collapser(data-toggle="collapse", data-parent="#accessibility-details", href="#piece-#{index}-content")
              = piece.header
              span.time= ' (' + piece.time + ')'
            .piece-content.collapse(id="piece-#{index}-content")
              .content= piece.content
              .author
                | Left by a &nbsp;
                = piece.profile

  .section.events-section
    a.collapser.collapsed(data-toggle="collapse", data-parent="#details-view-container", href="#events-details")
      h3
        span.icon-icon-events &nbsp;
        = t('sidebar.events')
      span.short-text
    #events-details.section-content.collapse
      .event-list
      a.show-more-events(href="#")
        span= t('sidebar.show_more_events')


  if links && links.length
    .section
      a.collapser.collapsed(data-toggle="collapse", data-parent="#details-view-container", href="#web-services-details")
        h3
          span.icon-icon-web-services &nbsp;
          = t('sidebar.web_services')
        span.short-text= t('sidebar.service_count', {count: links.length})
      #web-services-details.section-content.collapse
        ul
          - each conn in links
            li
              +render_connection(conn)

  //
    .section
      a.collapser.collapsed(data-toggle="collapse", data-parent="#details-view-container", href="#feedback-details")
        h3
          span.icon-icon-events &nbsp;
          = t('sidebar.feedback')
        span.short-text 5 messages, latest today
      #feedback-details.section-content.collapse.
        Lorem ipsum dolor sit amet, eros honestatis ullamcorper ut vel, eum cu
        purto decore, mea te errem regione. Mei cu utamur tacimates consetetur,
        paulo soleat maiorum vim ne. Ea vim liber euripidis voluptatibus, eam
        cu etiam sapientem imperdiet. Quo sint pertinacia conclusionemque ut.
        Ea pro autem appellantur, usu ne illum suscipit. Ex mei detracto
        oportere temporibus.
