include ./mixins/preserve-newlines

mixin renderConnection(conn)
  if tAttr(conn.www)
    != externalLink(tAttr(conn.www), tAttr(conn.name))
  else
    if conn.name
      = tAttr(conn.name)
      if conn.contact_person
        = " "
        = conn.contact_person
      if conn.phone && (tAttr(conn.name).indexOf(conn.phone) === -1)
        = ", "
        span(itemprop="telephone")
          a(href="tel:#{phoneI18n(conn.phone)}")= conn.phone
      if conn.email
        = ", "
        span(itemprop="email")
          a.external-link(href="mailto:#{conn.email}")= conn.email

.header
  unless embedded_mode
    if back_to
      a.back-button.vertically-aligned(href="#", role="button", tabindex="0")
        span.icon-icon-back-bold
        span
          = back_to
  .mobile-header
    .header-content
      canvas#details-marker-canvas-mobile(width="30", height="30")
      a.collapse-button(href="#",role="button", tabindex="0")
        span(class=collapsed ? 'icon-icon-expand' : 'icon-icon-collapse')
      span.icon-icon-close
      h2
        span= name

.content.limit-max-height
  .map-active-area
  .details-view-area
  if picture_url
    .image-wrapper
      img.details-image(src="#{picture_url}", alt="#{t('sidebar.picture_of')} #{name}")
      if picture_caption
        .details-image-caption
          = tAttr(picture_caption)

  .section.main-info
    .header
      canvas#details-marker-canvas(width="30", height="30")
      span.icon-icon-close
      h2
        span= name

    #main-info-details.section-content
      .departments
        = provider
        if provider
          | : &nbsp;
        if contract_type
          span#contract-type
            = uppercaseFirst(tAttr(contract_type.description))
            | . &nbsp;
        span#department-specifier
        if data_source
          span#data-source
            | (#{t('sidebar.data_source', {data_source: data_source})})

      .address
        address
          if street_address
            = street_address
            if address_zip || municipality
              |, &nbsp;
          if address_zip
            = address_zip
          if municipality
            if address_zip
              = ' '
            = tAttr(municipality.name)

      if phone || tAttr(www)
        .contact-info
          if phone
            span(itemprop="telephone")
              a.external-link(href="tel:#{phoneI18n(phone)}")= phone
          if phone && tAttr(www)
            | &nbsp; | &nbsp;
          if tAttr(www)
            != externalLink(tAttr(www), t('sidebar.further_info'))
          if e_services
            - each conn in e_services
              br
              | | &nbsp;
              +renderConnection(conn)

      if opening_hours
        div.opening-hours
          for hours in opening_hours
            if hours.url
              != externalLink(hours.url, hours.content)
            else
              p
                +preserveNewlines(uppercaseFirst(hours.content))

      if highlight
        .information
          ul.list-unstyled
            - each conn in highlight
              li
                +renderConnection(conn)

      if contact
        .information
          ul.list-unstyled
            - each conn in contact
              li
                +renderConnection(conn)

      .description
        if description_ingress
          span.ingress
            +preserveNewlines(description_ingress)
            if description_body
              != ' '
              a(href="#").blue-link.body-expander= t('sidebar.show_more')
        if description_body
          span.body
            != ' '
            +preserveNewlines(description_body)

      if information
        .information
          ul.list-unstyled
            - each conn in information
              li
                +renderConnection(conn)

      if service_nodes
        div.service-nodes
          for serviceNode in service_nodes
            a(href="#" role="service-node-link" data-id=serviceNode.id).service-node-link
              span(class='service-node-background-color-'+serviceNode.root class='service-node-bullet')
              | &nbsp;
              = tAttr(serviceNode.name)

      if periods
        .information
          - each val, key in periods
            div.period
              != t('unit.period', {'period': key})
            ul.period-subject
              - each subject in val
                li= subject

  .section.resource-reservation-section.hidden

  .section.route-section

  .section.accessibility-section

  .section.events-section.hidden
    a.collapser.collapsed(data-toggle="collapse", data-parent="#details-view-container", href="#events-details")
      h3
        span.icon-icon-events &nbsp;
        = t('sidebar.events')
      span.short-text
    #events-details.section-content.collapse
      .event-list
      a.show-more-events(href="#")
        span= t('sidebar.show_more_events')

  if links && links.length
    .section
      a.collapser.collapsed(data-toggle="collapse", data-parent="#details-view-container", href="#web-services-details")
        h3
          span.icon-icon-web-services &nbsp;
          = t('sidebar.web_services')
        span.short-text= t('sidebar.service_count', {count: links.length})
      #web-services-details.section-content.collapse
        ul
          - each conn in links
            li
              +renderConnection(conn)

  if root_department == '83e74666-0836-4c1d-948a-4b34a8b90301'
    .section.feedback-section
      a.collapser.collapsed(data-toggle="collapse", data-parent="#details-view-container", href="#feedback-details")
        h3
          span.icon-icon-feedback &nbsp;
          = t('sidebar.feedback')
        span.short-text
      #feedback-details.section-content.collapse
        a.send-feedback.blue-link(href="#", class!=status_class)= t('feedback.send_feedback', {receiver: name})
        h4.feedback-count
        .feedback-list
        // a.show-more-feedback(href="#")
        //   span= t('feedback.show_more_feedback')
