.content
  a.back-button(href="#", role="button", tabindex="0")
    span.icon-icon-back= t('sidebar.back_to_results')
  if picture_url
    .section.picture
      h3
        a.collapsed(data-toggle="collapse", data-parent="#details-view-container", href="#picture-details")
          img(src="#{picture_url}", alt="#{t('sidebar.picture_of')} #{name}")
      #picture-details.collapse
        if picture_url
          img(src="#{picture_url}", alt="#{t('sidebar.picture_of')} #{name}")
  .section.main-info
    .header-row
      .color-ball
      h2= name
    .description= description
    address
      = street_address
      br
      = address_zip
      br
      = phone
  .section
    h3
      a.collapsed(data-toggle="collapse", data-parent="#details-view-container", href="#accessibility-details")
        span.icon-icon-stroller &nbsp;
        = t('sidebar.access.some_problems')
    #accessibility-details.collapse
      ul
        li The route to the entrance has more than two consecutive steps but no ramp.
        li The entrance has more than two consecutive steps but no ramp.
        li There is too little room for a wheelchair in front of the entrance.
  .section
    h3
      a.collapsed(data-toggle="collapse", data-parent="#details-view-container", href="#route-details")
        span.icon-icon-public-transport &nbsp;
        = t('sidebar.route_here')
    #route-details.collapse.
      Lorem ipsum dolor sit amet, eros honestatis ullamcorper ut vel, eum cu
      purto decore, mea te errem regione. Mei cu utamur tacimates consetetur,
      paulo soleat maiorum vim ne. Ea vim liber euripidis voluptatibus, eam
      cu etiam sapientem imperdiet. Quo sint pertinacia conclusionemque ut.
      Ea pro autem appellantur, usu ne illum suscipit. Ex mei detracto
      oportere temporibus.
  .section
    h3
      a.collapsed(data-toggle="collapse", data-parent="#details-view-container", href="#events-details")
        span.icon-icon-events &nbsp;
        = t('sidebar.events')
    #events-details.collapse.
      Lorem ipsum dolor sit amet, eros honestatis ullamcorper ut vel, eum cu
      purto decore, mea te errem regione. Mei cu utamur tacimates consetetur,
      paulo soleat maiorum vim ne. Ea vim liber euripidis voluptatibus, eam
      cu etiam sapientem imperdiet. Quo sint pertinacia conclusionemque ut.
      Ea pro autem appellantur, usu ne illum suscipit. Ex mei detracto
      oportere temporibus.
  .section
    h3
      a.collapsed(data-toggle="collapse", data-parent="#details-view-container", href="#homesite-details")
        span.icon-icon-events &nbsp;
        = t('sidebar.website')
    #homesite-details.collapse.
      Lorem ipsum dolor sit amet, eros honestatis ullamcorper ut vel, eum cu
      purto decore, mea te errem regione. Mei cu utamur tacimates consetetur,
      paulo soleat maiorum vim ne. Ea vim liber euripidis voluptatibus, eam
      cu etiam sapientem imperdiet. Quo sint pertinacia conclusionemque ut.
      Ea pro autem appellantur, usu ne illum suscipit. Ex mei detracto
      oportere temporibus.
