unless embedded_mode || prevent_back
  a.back-button.vertically-aligned(href="#", role="button", tabindex="0")
    if t_attr(sp_name)
      span.icon-icon-back-bold
      span.sp-name
        = t_attr(sp_name)
.content
  if image
    img.details-image(src="#{image}", alt="#{t('sidebar.picture_of')} #{name}")
  .section.main-info
    a.collapser(data-toggle="collapse", data-parent="#event-view-container", href="#main-info-details")
      span.icon-icon-events &nbsp;
      h2
        span= name
    #main-info-details.section-content.collapse.in
      .time
        if datetime.notice
          span.notice!= datetime.notice
          br
        if datetime.date
          span.date!= datetime.date[0]
          if datetime.date[1]
            | &mdash;
            br
            span.date!= datetime.date[1]
        if datetime.time
          br
          span.time-of-day!= datetime.time
      if t_attr(sp_name)
        .sp-name
          a(href="#")= t_attr(sp_name)

      if sp_phone || info_url || t_attr(sp_url)
      .contact-info
        if sp_phone
          span(itemprop="telephone")
            a.external-link(href="tel:#{phone_i18n(sp_phone)}")= sp_phone
        if sp_phone && (info_url || t_attr(sp_url))
          | &nbsp; | &nbsp;
        if info_url
          a.external-link(href="#{info_url}", target="_blank")= t('sidebar.further_info') + ' '
            span.icon-icon-outbound-link
        else if t_attr(sp_url)
          a.external-link(href="#{t_attr(sp_url)}", target="_blank")= t('sidebar.further_info') + ' '
            span.icon-icon-outbound-link

      if description
        .description.row
          .col-md-12!= description
      else if short_description
        .description.row
          .col-md-12!= short_description

  if links && links.length
    .section
      a.collapser.collapsed(data-toggle="collapse", data-parent="#details-view-container", href="#web-services-details")
        h3
          span.icon-icon-web-services &nbsp;
          = t('sidebar.web_services')
        span.short-text= t('sidebar.service_count', {count: links.length})
      #web-services-details.section-content.collapse
        ul
          - each link in links
            li
              a.external-link(href="#{link.link}", target="_blank")
                if link.name
                  = link.name
                else
                  = link.link
                span.icon-icon-outbound-link
