.modal-content
  .section.info-box.modal-header
      a(href="#", data-dismiss="modal").icon.icon-icon-close
      h3= t('exporting.header')
  .section.modal-body
    p= t('exporting.description')
    h4= t('exporting.set_header')
    div
      = t("exporting.current_set." + specs.key)
      if specs.url
        if specs.details && specs.details.length > 0
          | :
          .export-set-details
            - for detail in specs.details
                div.export-set-detail
                  = detail
        if specs.size > 1
          != t('search.type.unit.count', {count: specs.size})
    if specs.key == 'unknown'
      p.help= t('exporting.empty_set_help')
    if specs.url
      h4= t('exporting.format')
      .btn-group(data-toggle='buttons')
        for format in formats
            - activeClass = format.id == activeFormat.id ? 'active' : null
            - checked = activeClass == 'active' ? '' : null
            - id = 'format-' + format.id
            label.btn.btn-default(class=activeClass)
              input(id=id, data-format=format.id type='radio', name='options', autocomplete='off', checked=checked)
              = format.text
              | &nbsp;
    .form-section
      if specs.url
        a.cancel(href='#', data-dismiss="modal")= t('general.cancel')
        a(href!=specs.url, target='_blank')#exporting-submit.ok-button.external-link
          =t('exporting.submit')
      else
        a(href!=specs.url, data-dismiss="modal").ok-button.external-link
          =t('general.close')
