
mixin renderCity(id)
  - label = "label-municipality-" + id
  li(data-group='city', data-type=id)
    a(href="#", role="button", aria-described-by=label, tabindex="1")
      .icon
        span(class!="icon-icon-coat-of-arms-#{id}")
      span.text(id=label)
        = t('municipality.' + id)


.personalisation-header
  .selected-personalisations
  a.personalisation-button(href="#", role="button", tabindex="1")
    span.icon-icon-personalise
    h2.text= t('personalisation.personalise')
  a.ok-button(href="#", role="button", tabindex="1")
    | OK
.personalisation-content
  // .section
  //   h3= t('personalisation.my_location')
  //   .location-controls
  //     .input-container
  //       input.form-control(type="text", placeholder!=t('personalisation.enter_address'))
  //     .link-container
  //       a.select-on-map(href="#")
  //         != t('personalisation.select_on_map')
  #accessibility-personalisation
  .section
    h3= t('personalisation.city')
    ul.personalisations.coats-of-arms
      +renderCity('helsinki')
      +renderCity('espoo')
      +renderCity('vantaa')
      +renderCity('kauniainen')
.personalisation-message.sm-popup.open
  .arrow.top
  span.icon.icon-icon-wheelchair
  span.close-button(type="button")
    span.icon-icon-close
  a(href="#")= t('personalisation.personalisation_message')

  img.accessibility-stamp(src=staticPath('/images/stamps/accessibility-stamp-small_#{lang}.png'))
