include ./mixins/personalisation-mode

mixin render_city(id, name)
  li(data-group='city', data-type=id)
    a(href="#")
      .icon
        span(class!="icon-icon-coat-of-arms-#{id}")
      span.text
        = name


.personalisation-header
  .selected-personalisations
  a.personalisation-button(href="#", role="button", tabindex="0")
    span.icon-icon-personalise
  span.text
    = t('personalisation.personalise')
  a.ok-button(href="#", role="button", tabindex="0")
    | OK
.personalisation-content
  // .section
  //   h3= t('personalisation.my_location')
  //   .location-controls
  //     .input-container
  //       input.form-control(type="text", placeholder!=t('personalisation.enter_address'))
  //     .link-container
  //       a.select-on-map(href="#")
  //         != t('personalisation.select_on_map')
  .section
    h3= t('personalisation.hearing_and_sight')
    ul.personalisations
      +render_mode('senses', 'hearing_aid', 'hearing-aid')
      +render_mode('senses', 'visually_impaired', 'visually-impaired')
      +render_mode('senses', 'colour_blind', 'colour-blind')
  .section
    h3= t('personalisation.mobility')
    ul.personalisations
      +render_mode('mobility', 'wheelchair', 'wheelchair')
      +render_mode('mobility', 'reduced_mobility', 'reduced-mobility')
      +render_mode('mobility', 'rollator', 'rollator')
      +render_mode('mobility', 'stroller', 'stroller')
  .section
    h3= t('personalisation.city')
    ul.personalisations.coats-of-arms
      +render_city('helsinki', 'Helsinki')
      +render_city('espoo', 'Espoo')
      +render_city('vantaa', 'Vantaa')
      +render_city('kauniainen', 'Kauniainen')
.personalisation-message.sm-popup.open
  .arrow.top
  span.icon.icon-icon-wheelchair
  span.close-button(type="button")
    span.icon-icon-close
  a(href="#")= t('personalisation.personalisation_message')
