.personalisation-header
  a.personalisation-button(href="#", role="button", tabindex="0")
    span.icon-icon-personalise
  span.text
    = t('personalisation.personalise')
  a.ok-button(href="#", role="button", tabindex="0")
    | OK
.personalisation-content
  .section
    h3= t('personalisation.my_location')
    .location-controls
      .input-container
        input.form-control(type="text", placeholder!=t('personalisation.enter_address'))
      .link-container
        a.select-on-map(href="#")
          = t('personalisation.select_on_map')
  .section
    h3= t('personalisation.hearing_and_sight')
    ul.personalisations
      li
        a(href="#")
          .icon
            span.icon-icon-hearing-aid
          = t('personalisation.hearing_aid')
      li
        a(href="#")
          .icon
            span.icon-icon-visually-impaired
          = t('personalisation.visually_impaired')
      li
        a(href="#")
          .icon
            span.icon-icon-colour-blind
          = t('personalisation.colour_blindness')
  .section
    h3= t('personalisation.mobility')
    ul.personalisations
      li
        a(href="#")
          .icon
            span.icon-icon-wheelchair
          = t('personalisation.wheelchair')
      li
        a(href="#")
          .icon
            span.icon-icon-reduced-mobility
          = t('personalisation.reduced_mobility')
      li
        a(href="#")
          .icon
            span.icon-icon-rollator
          = t('personalisation.rollator')
      li
        a(href="#")
          .icon
            span.icon-icon-stroller
          = t('personalisation.stroller')
  .section
    h3= t('personalisation.transport')
    ul.personalisations
      li
        a(href="#")
          .icon
            span.icon-icon-by-foot
          = t('personalisation.by_foot')
      li
        a(href="#")
          .icon
            span.icon-icon-bicycle
          = t('personalisation.by_bicycle')
      li.selected
        a(href="#")
          .icon
            span.icon-icon-public-transport
          = t('personalisation.with_public_transport')
      li
        a(href="#")
          .icon
            span.icon-icon-car
          = t('personalisation.by_car')
  .section
    h3= t('personalisation.city')
    ul.personalisations
      li.selected
        a(href="#")
          .icon
            span.icon-icon-colour-blind
          | Helsinki
      li
        a(href="#")
          .icon
            span.icon-icon-colour-blind
          | Espoo
      li
        a(href="#")
          .icon
            span.icon-icon-colour-blind
          | Vantaa
      li
        a(href="#")
          .icon
            span.icon-icon-colour-blind
          | Kauniainen
