.header.header--mobile
  .mobile-header
    .header-content
      .icon(class=icon_class)
      a.collapse-button(href="#",role="button", tabindex="0")
        span(class=collapsed ? 'icon-icon-expand' : 'icon-icon-collapse')
      span.icon-icon-close
      h2
        span= name

.content.position.limit-max-height
  .map-active-area
  .details-view-area
  if !collapsed
    .section.main-info
      .header
        a.icon-icon-close(href='#' aria-label=t('general.close'))
        h2#position-header(tabindex="-1")
          .icon(class=icon_class)
          span= name
      .section-content#main-info-details
        p
          = t('position.type.' + origin)
          if neighborhood
            br
            = uppercaseFirst(t('district.neighborhood'))
            = ': '
            = tAttr(neighborhood.get('name'))
          if postcode
            br
            = uppercaseFirst(t('district.postcode'))
            = ': '
            = parsePostalcode(postcode.get('ocd_id'))
          br
          a.blue-link#add-circle(href="#")
            = t('position.show_within_radius')

    .section.division-section
      a.collapser.collapsed.route(data-toggle="collapse", data-parent="#details-view-container", href="#service-details")
        h3
          span.icon.icon-icon-show-service-points
          = t('position.services.header')
      #service-details.section-content.collapse
        h4= t('position.services.info')
        .area-service-nodes-placeholder
        #area-emergency-units-placeholder

    .section.route-section

    .section.division-section
      a.collapser.collapsed.route(data-toggle="collapse", data-parent="#details-view-container", href="#division-details")
        h3
          span.icon.icon-icon-areas-and-districts
          = t('position.district.header')
      #division-details.section-content.collapse
        .admin-div-placeholder
