.header
  .mobile-header
    .header-content
      .icon(class=icon_class)
      span.icon-icon-close
      h2
        span= name

.content.position.limit-max-height
  .map-active-area
  .section.main-info
    .header
      .icon(class=icon_class)
      span.icon-icon-close
      h2
        span= name
    .section-content
      p= t('position.type.' + origin)
        if neighborhood
          br
          = uppercaseFirst(t('district.neighborhood'))
          = ': '
          = tAttr(neighborhood.get('name'))
        if origin == 'detected'
          br
          a#reset-location(href="#")= t('position.reset_detected')
        br
        a#add-circle(href="#")= t('position.show_within_radius')


  .section.route-section

  .section.division-section
    a.collapser.collapsed.route(data-toggle="collapse", data-parent="#details-view-container", href="#service-details")
      h3= t('position.services.header')
    #service-details.section-content.collapse
      h4= t('position.services.info')
      .area-services-placeholder

  .section.division-section
    a.collapser.collapsed.route(data-toggle="collapse", data-parent="#details-view-container", href="#division-details")
      h3= t('position.district.header')
    #division-details.section-content.collapse
      .admin-div-placeholder
