table#list-of-units
  each description, index in descriptions
    - rowCount = description.units.length * 2
    - tbodyClass = (index % 2 == 0 ? 'even' : 'odd')
    tbody(class=tbodyClass)
      tr
        td.unit-number(rowspan=rowCount)= description.number
        td.unit-name= description.units[0].name
      tr
        td.unit-address= description.units[0].address
      each unit in description.units.slice(1)
        tr.clustered-unit
          td.unit-name= unit.name
        tr
          td.unit-address= unit.address
