.list-content.sm-popup.open
  .stop-list-header= t('choose_stop')

  each stop in items
    div.stop-container
      a.stop-wrapper(href="#", role="button", data-stop-id="#{stop.id}")
        .left
          .public-transit-stop-icon(class="public-transit-stop-icon--#{stop.vehicleTypeName}")
        .center
          div= stop.name

          if stop.patterns && stop.patterns.length
            - var patterns = stop.patterns
            - var firstPattern = patterns[0]
            div
              if firstPattern && firstPattern.route
                span(class=stop.vehicleTypeName).vehicle-number
                  = firstPattern.route.shortName
                | &nbsp;
              span.destination= firstPattern.headsign

            if patterns.length > 1
              .additional-row
                span.additional-text= t('in_addition')
                | &nbsp;

                - for (var i = 1; i < patterns.length; ++i) {
                  - var pattern = patterns[i]
                  if pattern.route
                    span(class=stop.vehicleTypeName).vehicle-number
                      = pattern.route.shortName
                    | &nbsp;
                - }
        .right.icon.icon-icon-forward

  .arrow.bottom

.stop-content
