.sm-popup.open
  div= stop.name
  span= stop.code
  span= stop.desc
  if stop.stoptimesWithoutPatterns
    each stoptime in stop.stoptimesWithoutPatterns
      div.route-detail
        if stoptime.realtimeState == 'CANCELED'
          div= t('canceled')
        else
          span(class=stoptime.realtime && 'real-time')= stoptime.arrivalTime
          if stoptime.trip && stoptime.trip.pattern && stoptime.trip.pattern.route
            span(class=stop.vehicleTypeName)= stoptime.trip.pattern.route.shortName
          if stoptime.pickupType == 'NONE'
            // https://github.com/HSLdevcom/digitransit-ui/blob/master/app/component/DepartureListContainer.js
            span= t('terminus')
          else
            span= stoptime.headsign

  .arrow.bottom
