.route-controllers.settings-controllers
  .row.transit-endpoints
    .col-sm-6.col-xs-12.transit-start
      .input-wrapper
        if params.getOrigin().isPending() && !params.getOrigin().isDetectedLocation()
          input.endpoint(type="text", placeholder!=t('transit.input_placeholder'), data-endpoint='origin')
        else
          - locked = (origin.lock === true)
          .preset(data-route-node='start', class=origin.lock === true ? 'locked' : 'unlocked')
            a(href="#!", tabindex=(locked ? '-1' : null)).endpoint.endpoint-name!= origin.name
    .col-sm-6.col-xs-12.transit-end
      .input-wrapper
        if params.getDestination().isPending() && !params.getDestination().isDetectedLocation()
          input.endpoint(type="text", placeholder!=t('transit.input_placeholder'), data-endpoint='destination')
        else
          - locked = (destination.lock === true)
          .preset(data-route-node='end', class= locked ? 'locked' : 'unlocked')
            a(href="#!", tabindex=(locked ? '-1' : null)).endpoint.endpoint-name!= destination.name
    a.swap-endpoints(href="#", tabindex='-1')
      span.icon-icon-forward
  .row.current-location
    .col-xs-12
      - isDetected = !params.getOriginLocked() ? params.getOrigin().isDetectedLocation() : params.getDestination().isDetectedLocation()
      a.detect-current-location.mode-switch(class=isDetected ? 'selected' : undefined)
        = t('transit.use_current_location')
  .row.transit-time
    .col-xs-12
      a.time-mode.mode-switch.unlocked(data-value='depart' class=time_mode === 'depart' ? 'selected' : undefined)
        = t('transit.depart')
      a.time-mode.mode-switch.unlocked(data-value='arrive' class=time_mode === 'arrive' ? 'selected' : undefined)
        = t('transit.arrive')
      if params.isTimeSet() || time_mode == 'arrive'
        .input-wrapper
          if disable_keyboard
            input.time(type='text', readonly="#{disable_keyboard}", value="#{time}", size=5)
          else
            input.time(type='text', value="#{time}", size=5)
        .input-wrapper
          if is_today
            span.preset.preset-current-date= t('time.today')
          else
            if disable_keyboard
              input.date(type='text', readonly="#{disable_keyboard}", value="#{date}", size=10)
            else
              input.date(type='text', value="#{date}", size=10)
      else
        .input-wrapper
          div.preset.preset-current-time.unlocked
            = t('transit.now')
