a.collapser(class=details_open ? '' : 'collapsed', data-toggle="collapse", data-parent="#details-view-container", href="#route-details")
  h3
    span.icon-icon-public-transport &nbsp;
    = t('sidebar.route_here')
  span.short-text
      span.length
      = itinerary.duration

#route-details.section-content.collapse(class=details_open ? 'in' : '')
  if itinerary_choices.length > 1
    ul.route-selector
      each index in itinerary_choices
        li(class=index === selected_itinerary_index ? 'selected' : undefined)
          a(href="#", data-index="#{index}")
            = 'Route ' + (index + 1)

  .route-info
    = itinerary.duration
    = ' ' + t('transit.total')
    | &nbsp;-&nbsp;
    = itinerary.walk_distance
    = ' ' + t('transit.by_foot')

  .legs
    each leg, index in itinerary.legs
      .leg
        .row.layover-row
          .col-sm-2
            span.time(class=index === 0 ? 'bold' : '')= leg.start_time
          .col-sm-10.bold
            = leg.start_location
        .row.main-row
          .col-sm-2.leg-icon
            span.icon(class!=leg.icon)
          .col-sm-10
            span.text= leg.text
            span.distance= leg.distance
    .end
      .row.layover-row
        .col-sm-2
          span.time= leg.start_time
        .col-sm-10
          = leg.start_location
      .row.main-row
        .col-sm-2.leg-icon
          span.icon(class!=leg.icon)
        .col-sm-10
          span.text= leg.text
  .end
    .row.layover-row
      .col-sm-2
        span.time= itinerary.end.time
      .col-sm-10
        = itinerary.end.location
