.row.transit-start
  .col-sm-3
    = t('transit.start')
  .col-sm-9.input-wrapper
    if origin
      .preset-location= origin_name
        span(data-route-node='start').close. x&nbsp;
    else
      input(type="text", placeholder!=t('transit.input_placeholder'), data-endpoint='origin')
.row.transit-end
  .col-sm-3
    = t('transit.end')
  .col-sm-9
    if destination
      .preset-location= destination_name
        span(data-route-node='end').close. x&nbsp;
    else
      input(type="text", placeholder!=t('transit.input_placeholder'), data-endpoint='destination')
.row
  .col-sm-3
  .col-sm-9
    span.sm-select
      select
        option(value='depart')= t('transit.depart')
        option(value='arrive')= t('transit.arrive')
    input(type="datetime-local", value="#{current_time}")
 a.switch-end-points(href="#")
  span.swap-endpoints.icon-icon-vice-versa
