.route-controllers
  .row.transit-endpoints
    .col-xs-6.transit-start
      .input-wrapper
        if params.get_origin().is_pending() && !params.get_origin().is_detected_location()
          input.endpoint(type="text", placeholder!=t('transit.input_placeholder'), data-endpoint='origin')
        else
          .preset(data-route-node='start', class=origin.lock === true ? 'locked' : 'unlocked')
            .endpoint-name!= origin.name
    .col-xs-6.transit-end
      .input-wrapper
        if params.get_destination().is_pending() && !params.get_destination().is_detected_location()
          input.endpoint(type="text", placeholder!=t('transit.input_placeholder'), data-endpoint='destination')
        else
          .preset(data-route-node='end', class=destination.lock === true ? 'locked' : 'unlocked')
            .endpoint-name!= destination.name
    a.swap-endpoints(href="#")
      span.icon-icon-forward
  .row.transit-time
    .col-xs-12
      a.time-mode.unlocked(data-value='depart' class=time_mode === 'depart' ? 'selected' : undefined)
        = t('transit.depart')
      a.time-mode.unlocked(data-value='arrive' class=time_mode === 'arrive' ? 'selected' : undefined)
        = t('transit.arrive')
      if params.is_time_set() || time_mode == 'arrive'
        .input-wrapper
          input.time(type='text', value="#{time}", size=5)
        .input-wrapper
          if is_today
            span.preset.preset-current-date= t('time.today')
          else
            input.date(type='text', value="#{date}", size=10)
      else
        .input-wrapper
          div.preset.preset-current-time.unlocked
            = t('transit.now')
