.row.transit-start
  .col-sm-3
    = t('transit.start')
  .col-sm-9
    .input-wrapper
      if params.get_origin()
        .preset.preset-location(data-route-node='start', class=origin.lock === true ? 'locked' : 'unlocked')
          if origin.icon
            span.icon(class!=origin.icon)
          != origin.name
      else
        input.endpoint(type="text", placeholder!=t('transit.input_placeholder'), data-endpoint='origin')
.row.transit-end
  .col-sm-3
    = t('transit.end')
  .col-sm-9
    .input-wrapper
      if params.get_destination()
        .preset.preset-location(data-route-node='end', class=destination.lock === true ? 'locked' : 'unlocked')
          if destination.icon
            span.icon(class!=destination.icon)
          != destination.name
      else
        input.endpoint(type="text", placeholder!=t('transit.input_placeholder'), data-endpoint='destination')
.row.transit-time
  .col-sm-3
  .col-sm-9.nopad
    .input-wrapper
      div.time-mode.unlocked(data-value=time_mode)
        if time_mode == 'depart'
          = t('transit.depart')
        else
          = t('transit.arrive')
    if params.is_time_set() || time_mode == 'arrive'
        .input-wrapper
          input.time(type='text', value="#{time}", size=5)
        .input-wrapper
          if is_today
            span.preset.preset-current-date= t('time.today')
          else
            input.date(type='text', value="#{date}", size=10)
          // if is_tomorrow
          //   span= t('time.tomorrow')
    else
        div.preset-current-time.unlocked
          = t('transit.now')
  
a.switch-end-points(href="#")
  span.swap-endpoints.icon-icon-vice-versa
