.route-settings

if skip_route
  if !detecting_location
    .route-info
      = t('transit.no_route_found')
else
  if itinerary_choices.length > 1
    ul.route-selector(aria-hidden='true')
      each duration, index in itinerary_choices
        li(class=index === selected_itinerary_index ? 'selected' : undefined)
          a(href="#", data-index="#{index}")
            = duration
  div#route-label.sr-only(aria-label= t('transit.route_suggestion'), tabindex='-1')
  .route-info(tabindex='-1')
    span.icon-icon-opening-hours(aria-label= t('transit.duration'))
    | &nbsp;
    = itinerary.duration
    | &nbsp;
    span.icon-icon-by-foot(aria-label=': ' + t('transit.walking'))
    | &nbsp;
    = itinerary.walk_distance
    a.show-map(href='#')
      = t('transit.show_on_map')

  .legs
    each leg, index in itinerary.legs
      .leg(class=index === itinerary.legs.length - 1 ? 'last-leg' : undefined)
        .leg-line(class="#{leg.transit_color_class}-background-color")
        .leg-start-point(class="#{leg.transit_color_class}-border-color")
        .row.layover-row
          label.sr-only= leg.start_location + t('transit.time') + leg.start_time
          .col-xs-2(aria-hidden='true')
            = leg.start_time
          .col-xs-1
          .col-xs-9.bold(aria-hidden='true')
            = leg.start_location
        a.collapser.collapsed(class=leg.has_warnings ? 'has-warnings' : '', data-toggle="collapse", data-parent="#route-details", href="#leg-#{index}-details")
          .row.transit-row
            .col-xs-2.leg-icon(class="#{leg.transit_color_class}-color")
              span.icon(class!=leg.icon)
            .col-xs-1
            .col-xs-9
              - var next = index + 1
              if index == itinerary.legs.length - 1
                if leg.route
                  label.sr-only= leg.transit_mode + leg.distance + ' : ' + leg.route + ' : ' + t('transit.to_destination') +  itinerary.end.address
                else
                  label.sr-only= leg.transit_mode + leg.distance + t('transit.to_destination') +  itinerary.end.address
              else 
                if leg.route
                  label.sr-only= leg.transit_mode + ' : ' + leg.route + ' : ' + leg.distance + t('transit.to_destination') +  itinerary.legs[next].start_location
                else
                  label.sr-only= leg.transit_mode + leg.distance + t('transit.to_destination') +  itinerary.legs[next].start_location
              span.distance(aria-hidden='true')= leg.distance
              div.text(aria-hidden='true')
                = leg.transit_mode + ' '
                span.route(class="#{leg.transit_color_class}-color")= leg.route
                = ' ' + leg.transit_destination
        if leg.steps.length && leg.steps.length > 0
          .steps.collapse(id="leg-#{index}-details")
            each step in leg.steps
              .row.step(class=step.warning ? 'has-warnings' : '')
                .col-xs-9.col-xs-offset-3
                  span.text= step.text
                  if step.time
                    | &nbsp;(
                    = step.time
                    |)
                  if step.warning
                    span.warning
                      | &nbsp;-&nbsp;
                      = step.warning
    .end
      span.leg-end-point.icon-icon-expand(class="#{itinerary.legs[itinerary.legs.length - 1].transit_color_class}-color")
      .row.layover-row
        label.sr-only= itinerary.end.address  + t('transit.time') + itinerary.end.time + ' : ' + t('transit.end_location')
        .col-xs-2(aria-hidden='true')
          span.time= itinerary.end.time
        .col-xs-1
        .col-xs-9(aria-hidden='true')
          if itinerary.end.address
            span.bold= itinerary.end.address
            | &nbsp;-&nbsp;
          span= t('transit.end_location')

.accessibility-summary(class=skip_route ? 'hidden' : '')
