if minimized
  li.personalisation-container
    a.maximizer(tabindex="0", role="button")
      span.icon-icon-map-options
      h2.sr-only= t('service_cart.currently_on_map')
else
  li.info-box
    h2= t('service_cart.currently_on_map')
      span.button(class="cart-close-button")
        span.icon-icon-close
  li.map-layer
    div.map-layers
      span.layer-icon.icon-icon-map-options
      fieldset
        legend= t('service_cart.background_map')
        for layer in layers
          if layer.selected
            - checked = 'checked'
          else
            - checked = null
          - layer_id = 'layer-' + layer.name
          label.layer(data-layer=layer.name, for!=layer_id)
            input(type='radio', name='map-layers', id!=layer_id, value!=layer.name, checked=checked, class=cls)
            | &nbsp;
            = t('service_cart.' + layer.name)

  each item in items
    li.services
      div.service
        div(class="color-ball service-background-color-#{item.root}")
        div(class="service-name service-color-#{item.root}")
          = item.name
      a.button(class="close-button", role="button", data-service="#{item.id}", tabindex="0")
        span.icon-icon-close
        span.sr-only= t('general.remove')
