ul.navi.service-tree.new-content
  if back
    li.service.parent(data-service-id!=back, data-slide-direction="right")
      div(class="vertically-aligned service-color-#{parent_item.root_id}")
        span
          span(class="icon-icon-back-bold service-color-#{parent_item.root_id}")
          = parent_item.name
  else
    li.info-box.= t('sidebar.browse_tip')
  each item in list_items
    li(class!=item.classes data-service-id="#{item.id}", data-root-id="#{item.root_id}" data-slide-direction="left" role="link", tabindex="0")
      if item.has_children
        span.icon-icon-forward-bold
      .vertically-aligned
        span= item.name
      a(href="#", class="#{item.show_icon_classes}" role="button", tabindex="0")
        if item.has_children
          span.icon-icon-show-service-points
        else
          span.icon-icon-show-service-points-single
