h2.sr-only
  = t('assistive.service_tree')
if back
  div.service-node.parent.header-item(data-service-node-id!=back, data-service-node-name="#{parent_item.name}", data-slide-direction="right", role="link", tabindex="0")
    div(class="vertically-aligned service-node-color-#{parent_item.root_id}")
      span
        span(class="icon-icon-back-bold service-node-color-#{parent_item.root_id}", aria-hidden='true')
        if breadcrumbs.length
          span.breadcrumbs
            each crumb, index in breadcrumbs
              a.crumb.blue-link(href="#", data-service-node-id=crumb.serviceNodeId, data-service-node-name=crumb.serviceNodeName, data-slide-direction="right")
                = crumb.serviceNodeName
              if index + 1 != breadcrumbs.length
                span.icon-icon-forward
          br
        = parent_item.name
    a.collapse-button(href="#",role="button", tabindex="0")
      span(class=collapsed ? 'icon-icon-expand' : 'icon-icon-collapse')
ul.main-list.navi.service-tree.limit-max-height
  if !back
    li.info-box= t('sidebar.browse_tip')
  each item in list_items
    li(class!=item.classes, data-service-node-id="#{item.id}", data-service-node-name="#{item.name}", data-root-id="#{item.root_id}" data-slide-direction="left" role="link", tabindex="0")
      if item.has_children
        span.icon-icon-forward-bold(aria-hidden='true')
      span.service-node-name.vertically-aligned= item.name
      a(href="#", class="show-service-nodes-button" role="button")
          span(class="#{item.show_button_classes}")
            if item.selected
              = t('sidebar.hide')
            else
              = t('sidebar.show')
          .service-point-count
            != t('general.units', {count: item.count})
