if minimized
  li.personalisation-container
    a.maximizer(tabindex="1", role="button")
      span.icon-icon-map-options
      h2.sr-only= t('service_cart.currently_on_map')
  each item in items
    li.service-nodes.maximizer
      div.service-node
        - root = item.root || 1061
        div(class="color-ball service-node-background-color-#{root}")
else
  li.info-box
    span.layer-icon.icon-icon-map-options
    h2= t('service_cart.currently_on_map')
      span.button.cart-close-button
        span.icon-icon-close
  li.map-layer
    div.map-layers
      span.layer-icon.icon-icon-map-options
      fieldset
        legend.service-cart-collapser
          a.collapser.collapsed(data-toggle="collapse", href="#map-layers-collapse")
            = t('service_cart.background_map')
              | : &nbsp;
              span
                = t('service_cart.' + selectedLayer)
        #map-layers-collapse.collapse
          .collapse-content
            for layer in layers
              if layer.selected
                - checked = 'checked'
              else
                - checked = null
              - layer_id = 'layer-' + layer.name
              label.layer(data-layer=layer.name, for!=layer_id)
                input(type='radio', name='map-layers', id!=layer_id, value!=layer.name, checked=checked, class=cls)
                | &nbsp;
                = t('service_cart.' + layer.name)
  //- li.map-statistics
  //-   div.statistics.service-cart-collapser
  //-     span.layer-icon.icon-icon-areas-and-districts
  //-     a.collapser.collapsed(data-toggle="collapse", href="#map-statistics-collapse")
  //-       = t('Statistics')
  //-       | : &nbsp;
  //-       span
  //-         = t('Age over 75 years (forecast 2020)')
  //-     #map-statistics-collapse.collapse
  //-       .collapse-content
  //-         .progress
  //-           .progress-bar.progress-bar-success(style='width:35%')
  //-             span.legend 35%
  //-           .progress-bar.progress-bar-warning(style='width:20%')
  //-             span.legend 20%
  //-           .progress-bar.progress-bar-danger(style='width:10%')
  //-             span.legend 10%

  li.data-layer.data-layer-heatmap
    span.layer-icon.icon-icon-areas-and-districts
    fieldset
      legend.service-cart-collapser
        a.collapser.collapsed(data-toggle="collapse", href="#heatmap-layers-collapse")
          = t('service_cart.data_layer.heatmap')
          if selectedHeatmapLayer
            | : &nbsp;
            span
              = t('service_cart.data_layers.' + selectedHeatmapLayer)
          if selectedHeatmapLayer
            .heatmap-legend
              .progress
                =t('statistics.population_density')
              .heatmap-scale
                .start
                  =t('statistics.low_density')
                .end
                  =t('statistics.high_density')
      #heatmap-layers-collapse.collapse
        .collapse-content
          for layer in heatmapLayers
            if layer.selected
              - checked = 'checked'
            else
              - checked = null
            - layer_id = 'layer-' + layer.name
            label.layer(data-layer=layer.name, for='heatmap-' +layer_id)
              input(type='radio', name='heatmap-layers', id!='heatmap-' + layer_id, value='' + layer.name, checked=checked, class=cls)
              | &nbsp;
              = t('service_cart.data_layers.' + layer.name)

  li.data-layer.data-layer-statistics
    span.layer-icon.icon-icon-areas-and-districts
    fieldset
      legend.service-cart-collapser
        a.collapser.collapsed(data-toggle="collapse", href="#statistics-layers-collapse")
          = t('service_cart.data_layer.statistics')
          if (selectedStatisticsLayer.name !== null)
            div
              = t('service_cart.data_layers.' + selectedStatisticsLayer.name)
              if selectedStatisticsLayer.type === 'forecast'
                span  (#{t('statistics.forecast')}&nbsp;2024/2025)
          if selectedStatisticsLayer.max
            .statistics-legend
              .progress
              .statistics-scale
                - var format = selectedStatisticsLayer.max > 10 ? 0 : 1
                - var unit = selectedStatisticsLayer.max <= 1 ? '%' : ''
                - var correctedMax = selectedStatisticsLayer.max <= 1 ? selectedStatisticsLayer.max * 100 : selectedStatisticsLayer.max
                .start
                  = 0 + unit
                .mid
                  = (correctedMax / 2).toFixed(format) + unit
                .end
                  = (correctedMax).toFixed(format) + unit
      #statistics-layers-collapse.collapse
        .collapse-content
          for layer in statisticsLayers
            if layer.selected
              - checked = 'checked'
            else
              - checked = null
            - layerPath = layer.type ? layer.type + '.' + layer.name : 'null'
            - layer_id = 'layer-' + layerPath.replace('.', '-')
            label.layer(data-layer="#{layerPath}", for!='statistics-' + layer_id)
              input(type='radio', name='statistics-layers', id!='statistics-' + layer_id, value=layerPath, checked=checked, class=cls)
              | &nbsp;
              = t('service_cart.data_layers.' + layer.name)
              if layer.type === 'forecast'
                span  (#{t('statistics.forecast')}&nbsp;2024/2025)

  each item in items
    li.service-nodes
      div.service-node
        - root = item.root || 1061
        div(class="color-ball service-node-background-color-#{root}")
        div.service-node-name
          = item.name
      a.button.remove-service(role="button", data-service="#{item.id}", data-type="#{item.type}", tabindex="1")
        span.icon-icon-close
        span.sr-only= t('general.remove')