h2.sr-only
  = t('assistive.service_tree')
ul.main-list.navi.service-tree.limit-max-height
  if back
    li.service.parent.header-item(data-service-id!=back, data-service-name="#{parent_item.name}", data-slide-direction="right", role="link", tabindex="0")
      div(class="vertically-aligned service-color-#{parent_item.root_id}")
        span
          span(class="icon-icon-back-bold service-color-#{parent_item.root_id}", aria-hidden='true')
          if breadcrumbs.length
            span.breadcrumbs
              each crumb, index in breadcrumbs
                a.crumb.blue-link(href="#", data-service-id=crumb.service_id, data-service-name=crumb.service_name, data-slide-direction="right")
                  = crumb.service_name
                if index + 1 != breadcrumbs.length
                  span.icon-icon-forward
            br
          = parent_item.name
  else
    li.info-box.= t('sidebar.browse_tip')
  each item in list_items
    li(class!=item.classes, data-service-id="#{item.id}", data-service-name="#{item.name}", data-root-id="#{item.root_id}" data-slide-direction="left" role="link", tabindex="0")
      .vertically-aligned
        if item.has_children
          span.icon-icon-forward-bold(aria-hidden='true')= item.unit_count
          span= item.name
        a(href="#", class="#{item.show_icon_classes}" role="button", tabindex="0")
          if item.has_children
            span.icon-icon-show-service-points
          else
            span.icon-icon-show-service-points-single
          span.sr-only
            = t('sidebar.show_tooltip')
