.popover.tour
  .arrow
  if next != 1
    if next != -1
      .progress-meter
        = next - 1
        | /
        = length
  if next == 1
    // First step
  a(href="#").close-button(data-role='end')
    if next != -1
      = t('tour.end')
    span.icon.icon-icon-close
  if next == 1
    img.header(src=staticPath('/images/berries-on-grass.png'))
  .popover-title(class = next == 1 ? 'first' : '')
  .popover-content
    p= content
  .popover-navigation
    if next != 1
      button.btn.btn-default(data-role='prev')= t('tour.previous')
      if next != -1
        button.btn.btn-default(data-role='next')= t('tour.next')
    else
      button.btn.btn-default(data-role='next')= t('tour.start')
      .language-selector
        each lang, index in languages
          span.language= t('tour.language.' + lang)
          if index + 1 != languages.length
            |  | 
