
a#accessibility-collapser.collapsed.collapser(data-toggle="collapse", data-parent="#details-view-container", href="#accessibility-details", class="#{header_classes}")
  h3
    span(class!=icon_class) &nbsp;
    = t('accessibility.accessibility')
  span.short-text= short_text
#accessibility-details.section-content.collapse(class="#{collapse_classes}")
 if shortcomings_pending
  p= t('accessibility.pending_explanation')
 else
  if !profile_set && has_data
   a.set-accessibility-profile(href="#")
     = t('accessibility.select_accessibility_profile')
  if !has_data
   .no-data-text= t('accessibility.no_data_long')

  if shortcomings_count
    ul.shortcomings
      each group, pid in shortcomings
        each messages, requirement_id in group
          li
            each message, index in messages
              span
              = t_attr(message)
              br
  else if has_data
    .no-shortcomings-text= t('accessibility.no_shortcomings_long')
  if groups.length
   a.collapser.collapsed.sub-collapser(data-toggle="collapse", data-parent="#accessibility-details", href="#more-accessibility-details")
    h4
     = t('accessibility.accessibility_details')
  #more-accessibility-details.collapse
   dl
     each group in groups
       dt= group
       dd
         ul
           each detail in details[group]
             li= detail
  a.collapser.hide.collapsed.sub-collapser(data-toggle="collapse", data-parent="#accessibility-details", href="#accessibility-feedback")
   h4
     span.icon-icon-feedback
     = t('accessibility.feedback_on_accessibility')
   span.short-text
     if feedback.length
       = feedback.length
       | &nbsp;
       = t('accessibility.pcs')
     else
       = t('accessibility.none')
  #accessibility-feedback.collapse.hide
   each piece, index in feedback
     a.collapser.collapsed.sub-collapser(data-toggle="collapse", data-parent="#accessibility-feedback", href="#piece-#{index}-content")
       = piece.header
       span.time= ' (' + piece.time + ')'
     .piece-content.collapse(id="piece-#{index}-content")
       .content= piece.content
       .author
         | Left by a &nbsp;
         = piece.profile
  a.leave-feedback.hide.blue-link(href="#")
   = t('accessibility.leave_feedback')
  h4.hide= t('accessibility.accessibility_contacts')
  contacts.hide
   a.phone.external-link(href="#") 09 123 1234 &nbsp;
   a.email.external-link(href="#")= t('accessibility.send_email')
  .accessibility-viewpoint
