mixin renderMode(group, type, icon, activeViewpoints, preferredTabindex)
  - tabindex = preferredTabindex !== undefined ? preferredTabindex : '1'
  - label = "label-" + group + "-" + type
  - selected = activeViewpoints.indexOf(type) != -1
  li(data-group=group, data-type=type class=(selected ? 'selected' : ''))
    a(href="#", role="button", aria-pressed!=selected, aria-described-by=label, tabindex=tabindex)
      .icon
        span(class!="icon-icon-#{icon}")
      div
        span.text(id=label)
          != uppercaseFirst(t("personalisation." + type))
        if selected
          span
