mixin renderMode(group, type, icon, activeViewpoints)
  - label = "label-" + group + "-" + type
  li(data-group=group, data-type=type class=(activeViewpoints.indexOf(type) != -1 ? 'selected' : ''))
    a(href="#", role="button", aria-pressed!=selected, aria-described-by=label, tabindex='1')
      .icon
        span(class!="icon-icon-#{icon}")
      span.text(id=label)
        != uppercaseFirst(t("personalisation." + type))
